html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.5;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul, li {
  list-style-type: none;
}
.green-btn {
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  padding: 17px 15px 17px 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.6;
  }
  &:hover {
    opacity: 0.8;
  }
}