.intro1 {
    background: linear-gradient(79.63deg, #5b52a3 1.08%, #40b8ea 100%);
    border-radius: 36px; 
    padding: 80px 0 80px 0;
    margin-bottom: 160px;
    &__container {
        background-image: url(/img/intro1-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        background-position: 900px 0;
    }
    &__content{
        max-width: 715px;
        margin: 0;
        position: relative;
    }
    &__title {
        margin: 0;
        font-weight: 400;
        font-size: 72px;
        line-height: 80px;
        margin-bottom: 8px;
    }
    &__text {
        margin: 0;
        font-weight: 300;
        font-size: 20px;
        line-height: 42px;
        margin-bottom: 36px;
    }
    &__link {
        padding: 20px 30px 20px 30px;
    }
}