.britain {
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 36px;
    padding-top: 45px;
    padding-bottom: 87px;
    margin-bottom: 121px;
}

.britain__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 14px;
    margin-bottom: 29px;
    opacity: 0.7;
}

.britain__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.britain__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.britain__link {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    color: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
