<<<<<<< HEAD
=======
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.big-container {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 20px;
}
>>>>>>> b45ba787286e3484a1286d175ab148b643af027e
